.dashboard {
    width: 100%;
    margin: 68px 90px 88px 109px;

    .dashboard-header {

        .dashboard-header-top {
            display: flex;
            font-size: 48px;
            margin-bottom: 41px;

            .dashboard-header-top-firstname {
                margin-left: 12px;
                color: $color-3;
                font-weight: 500;
            }
        }
        .dashboard-header-bottom {
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 77px;
        }
    }

    .dashboard-main {
        display: flex;

        .dashboard-main {
            display: flex;
            flex-direction: column;

             // Top : Activity
            .dashboard-main-activity {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #FBFBFB;
                width: 835px; //
                height: 320px;
                border-radius: 5px;
                margin-bottom: 30px;

                .dashboard-main-activity-header {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 24px;
                    margin: 24px 32px 64px 32px;

                    .dashboard-main-activity-header-title {
                        font-size: 15px;
                        color: #20253A;
                    }

                    .dashboard-main-activity-header-right {
                        display: flex;

                        .dashboard-main-activity-header-kg {
                            display: flex;
                            flex-direction: row;
                            margin-right: 32px;
                            font-size: 14px;
                            color: #74798C; 

                            .dashboard-main-activity-header-kg-icon {
                                margin-right: 10px;
                            }
                            .dashboard-main-activity-header-legend {
                                font-size: 14px;
                                color: #74798C;
                            }
                        }
                        .dashboard-main-activity-header-kcal {
                            display: flex;
                            flex-direction: row;

                            .dashboard-main-activity-header-kcal-icon {
                                margin-right: 10px;
                            }
                            .dashboard-main-activity-header-legend {
                                font-size: 14px;
                                color: #74798C;
                            }
                        }
                    }
                }
            }

            // Down : 3 charts
            .dashboard-main-3charts {
                display: flex;
                justify-content: space-between;
                width: 835px; // 
                height: 258px;

                // Average graph
                .dashboard-main-3charts-average {
                    position: relative;
                    background-color: $color-3;
                    width: 263px; //
                    border-radius: 5px;

                    .dashboard-main-3charts-average-title {
                        position: absolute;
                        font-size: 15px;
                        color: #FFFFFF;
                        margin-top: 29px;
                        margin-left: 34px;
                        width: 147px;
                        opacity: 50%;
                    }
                }

                // Performance radar graph
                .dashboard-main-3charts-performance {
                    background-color: #282D30;
                    width: 263px; //
                    border-radius: 5px;
                    margin: 0 30px;

                    .dashboard-main-3charts-performance-radarchart {
                        font-size: 12px;
                    }
                }

                // Score pie graph 
                .dashboard-main-3charts-score {
                    position: relative;
                    background-color: #FBFBFB;
                    width: 263px; //
                    border-radius: 5px;

                    .dashboard-main-3charts-score-title {
                        position: absolute;
                        font-size: 15px;
                        padding: 24px 0 0 30px;
                    }
                    .dashboard-main-3charts-score-result {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 95px;
                        display: flex;
                        flex-direction: column;
                        text-align: center;

                        .dashboard-main-3charts-score-result-percent {
                         font-size: 26px;
                        }
                        .dashboard-main-3charts-score-result-text-up {
                            margin-top: 5px;
                            font-size: 16px;
                            color: #74798C;
                        }
                        .dashboard-main-3charts-score-result-text-down {
                            margin-top: 5px;
                            font-size: 16px;
                            color: #74798C;
                        }
                    }
                    
                }

            }
        }

        // Key datas vertical right
        .dashboard-keydatas {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 258px; // 
            margin-left: 31px;
        }
    }
}