.dashboard {
    width: 100%;
    margin: 68px 90px 88px 109px;

    .dashboard-header {

        .dashboard-header-top {
            display: flex;
            font-size: 48px;
            margin-bottom: 41px;

            .dashboard-header-top-firstname {
                margin-left: 12px;
                color: $color-3;
                font-weight: 500;
            }
        }
        .dashboard-header-bottom {
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 77px;
        }

    }

    .dashboard-main {
        display: flex;

        .dashboard-main {
            display: flex;
            flex-direction: column;

            .dashboard-main-activity {
                background-color: yellow;
                width: 835px; //
                height: 320px;
                border-radius: 5px;
                margin-bottom: 30px;
            }

            .dashboard-main-3charts {
                display: flex;
                justify-content: space-between;
                width: 835px; // 
                height: 258px;

                .dashboard-main-3charts-average {
                    background-color: $color-3;
                    width: 263px; //
                    border-radius: 5px;
                }
                .dashboard-main-3charts-activities {
                    background-color: #282D30;
                    ;
                    width: 263px; //
                    border-radius: 5px;
                    margin: 0 30px;
                }
                .dashboard-main-3charts-score {
                    background-color: lightgrey;
                    width: 263px; //
                    border-radius: 5px;
                }

            }
        }
        .dashboard-keydatas {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 258px; // 
            margin-left: 31px;

        }
    }
}