.error404 {
    @include flexCenter;
    font-weight: 700;
    font-size: 288px;
    padding-top: 277px;

    @media screen and (max-width: 1000px) {
        font-size: 200px;
        padding-top: 262px;
    }
    @media screen and (max-width: 700px) {
        font-size: 150px;
        padding-top: 262px; 
    }
    @media screen and (max-width: 400px) {
        font-size: 96px;
        padding-top: 262px;
    }
}
.error-message {
    @include flexCenter;
    font-weight: 500;
    font-size: 36px;
    margin-top: 66px;
    text-align: center;
    
    @media screen and (max-width: 1000px) {
        margin-top: 11px;
        font-size: 18px;
        margin: 0 58px;
    }
    @media screen and (max-width: 700px) {
        margin-top: 11px;
        font-size: 18px;
        margin: 0 58px;
    }
    @media screen and (max-width: 400px) {
        margin-top: 11px;
        font-size: 18px;
        margin: 0 58px;
    }
}
.error-link {
    @include flexCenter;
    text-decoration: underline;
    font-weight: 500;
    font-size: 18px;
    margin-top: 182px;

    @media screen and (max-width: 1000px) {
        margin-top: 163px;
        font-size: 16px;
    }
    @media screen and (max-width: 700px) {
        margin-top: 148px;
        font-size: 15px;
    }
    @media screen and (max-width: 400px) {
        margin-top: 133px;
        font-size: 14px;
    }
}