@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Roboto-Regular.ttf);
  }
@font-face {
    font-family: "font-2";
    src: url(../assets/fonts/Roboto-Medium.ttf);
  }
@font-face {
    font-family: "font-3";
    src: url(../assets/fonts/Roboto-Bold.ttf);
  }

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

$font-regular: "font-1", sans-serif;
$font-medium: "font-2", sans-serif;
$font-bold: "font-3", sans-serif;

$color-1: #000000;
$color-2: #FFFFFF;
$color-3: #FF0101;
$color-4: #74798C;
$color-footer: #000000;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $color-1;
}

body {
font-family: $font-medium;
}

li {
    list-style-type: none;
}
